body {
    background: hsla(152, 100%, 50%, 1);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00FF87", endColorstr="#60EFFF", GradientType=1);
}
.app-title {
    text-align: center;
}
.app-title-container {
    font-size: 20px;
    padding: 2px;
    margin: 3px;
    background-color: black;
    color: white;
    border-radius: 30px;
    border: 3px solid red;
}
.team-card-container{
    display: flex;
   justify-content: space-around;
    
}
.team-card{
    background-color: rgb(255, 81, 0);
    margin: 10px;
    width: 300px;
}
.team-card-title{
    text-align: center;
}
.team-card-score{
    text-align: center;
    font-size: 100px;
    margin: 0px;
}
.score-card-button-container{
    display: flex;
    justify-content: space-around;

}
.score-card-button{
    font-size: 50px;
}